name: ruleset auto build
on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 5,13 * * *"
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  build:
    permissions:
      contents: write
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: actions/checkout@v4
        with:
          path: dist
          ref: dist

      - name: Get current date
        id: date
        run: |
          echo "date=$(date -Iseconds)" >> $GITHUB_OUTPUT

      - name: Run collectors
        run: |
          make

      - uses: stefanzweifel/git-auto-commit-action@v5
        with:
          commit_message: "deploy: ${{ steps.date.outputs.date }}"
          branch: dist
          file_pattern: '*'
          repository: dist
